Source: sure
Maintainer: Timo Furrer <tuxtimo@gmail.com>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), python3-all, dh-python, debhelper (>= 9),
 python-nose, python-mock, python-coverage
Standards-Version: 3.9.7
Homepage: https://github.com/gabrielfalcao/sure

Package: python-sure
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: idiomatic assertion toolkit with human-friendly failure messages (Python 2)
 Sure is a library for Python that leverages a DSL for writing assertions. In
 CPython it monkey-patches the object type, adding some methods and properties
 purely for test purposes. Any Python code writen after "import sure" gains
 testing superpowers.
 .
 This package contains the module for Python 2.x.

Package: python3-sure
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: idiomatic assertion toolkit with human-friendly failure messages - (Python 3)
 Sure is a library for Python that leverages a DSL for writing assertions. In
 CPython it monkey-patches the object type, adding some methods and properties
 purely for test purposes. Any Python code writen after "import sure" gains
 testing superpowers.
 .
 This package contains the module for Python 3.x.
